<div class='container'>
  <h1>The Restaurants</h1>

  <table class="table table-bordered table-dark table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone_number</th>
        <th scope="col">Category</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr scope="row">
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.phone_number %></td>
          <td><%= restaurant.category %></td>
          <td><%= link_to 'Show', restaurant, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add new Restaurant', new_restaurant_path, class: "btn btn-primary" %>
</div>
